:root {

    /* SVG SCALE */
    --image-login-background-width: 12400px;
    --image-login-move: -12000px;
    --image-login-width: 400px;

    --shape-shifter-background-y: 100px;
    --shape-shifter-background-x: 1900px;

    --shape-shifter-background-animation: -1800px;

    --shape-shifter-width: 100px;
    --shape-shifter-height: 100px;
    --navbar__capteur-path: 150px;

    /* TEXT-SIZES */

    --text-small: 16px;
    --text-medium: 24px;
    --text-big: 32px;
    --text-large: 48px;
  
    /* IMAGES-SIZES */
    --image-navbar: 100px;
    --image-small: 3em;
    --image-medium: 4em;
    --image-big: 6em;
    --image-large: 8em;
  
    /* COLORS */

    --color-light-blue: #a6dcef;
    --color-blue: #74b9ff;
    --color-dark-blue: #0984e3;
    --color-light-grey: #dfe6e9;
    --color-grey: #b2bec3;
    --color-dark-grey: #636e72;
    --color-black: #2d3436;
    --color-white: white;
    --color-error: #ee5253;
  
    /* MARGIN */

    --margin-x-small: 0.5em;
    --margin-small: 1em;
    --margin-medium: 2em;
    --margin-big: 3em; 
    --margin-large: 4em;
    --margin-top: 2em 0 0 0;
    --margin-bottom: 0 0 2em 0;
    --margin-right: 0 2em 0 0;
    --margin-left: 0 0 0 2em;
    
    /* PADDING */
  
    --padding-x-small: 0.5rem;
    --padding-small: 1em;
    --padding-medium: 2em;
    --padding-big: 3em; 
    --padding-large: 4em;
    --padding-top: 2em 0 0 0;
    --padding-bottom: 0 0 2em 0;
    --padding-right: 0 2em 0 0;
    --padding-left: 0 0 0 2em;
  
}

#container_background {
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
}

.navbar_background {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#navbar_background_1 {
  fill: var(--color-light-blue);
  transform: scale(0.75);
  transform-origin: top left;
  transition: all 0.2s linear;
}


#navbar_background_2 {
  fill:var(--color-light-blue);
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.2s linear;
}
#navbar_background_1_mobile {
  fill:var(--color-light-blue);
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.2s linear;
}
#navbar_background_2_mobile {
  fill:var(--color-blue);
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.2s linear;
}
#navbar_background_3  {
  fill:var(--color-blue);
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.2s linear;
}
#container_logo_login {
  animation-duration: 500ms;
  animation-timing-function: steps(30);
  animation-fill-mode: forwards;
  width: var(--image-login-width);
  height: var(--image-login-width);
  background-size: var(--image-login-background-width) var(--image-login-width);
  background-repeat: no-repeat;
  animation-name: play_logo;
}

@keyframes play_logo {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: var(--image-login-move) 0px;
  }
}
@keyframes play_logo_reverse {
  0% {
    background-position: var(--image-login-move) 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}

body,html,p,button,input,a,ul,li {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  background: none;

}

.input_form {
  border-bottom: solid thin;
}
.input_form:focus {
  border-color: var(--color-blue);
  box-shadow: inset 0px -80px 5px -80px var(--color-blue);
}



@font-face {
  font-family: Ubuntu-Regular;
  src: url('/public/fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('/public/fonts/Ubuntu-Bold.ttf');
}

/* PREMADE CLASS */

/* SCROLL-BAR */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* MEDIA */

@media only screen and (max-width: 1150px) {
  :root {
    /* SVG */

    --image-login-background-width: 6200px;
    --image-login-move: -6000px;
    --image-login-width: 200px;
    
    --shape-shifter-background-y: 75px;
    --shape-shifter-background-x: 1425px;

    --shape-shifter-background-animation: -1350px;

    --shape-shifter-width: 75px;
    --shape-shifter-height: 75px;

    /* TEXT-SIZES */

    --text-small: 8px;
    --text-medium: 16px;
    --text-big: 24px;
    --text-large: 32px;
  
    /* IMAGES-SIZES */
  
    --image-small: 2em;
    --image-medium: 3em;
    --image-big: 4em;
    --image-large: 6em;

    /* PADDING */
  
    --padding-x-small: 0.25rem;
    --padding-small: 0.5em;
    --padding-medium: 1em;
    --padding-big: 2em; 
    --padding-large: 3em;
    --padding-top: 1em 0 0 0;
    --padding-bottom: 0 0 1em 0;
    --padding-right: 0 1em 0 0;
    --padding-left: 0 0 0 1em;
  }
  #background_desktop {
    display: none;
  }
  #background_mobile {
    display: block;
  }
  .flex__form__login {
    align-items: center;
    flex-direction: column;
  }
  #container__body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #navbar__content {
    z-index: 2;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    transition: all 0.2s ease;
  }
  .navbar__content__child {
    flex-direction: column;
    align-items: center;
  }
  .navbar__content__child > .padding_right {
    padding-left: 1em;
  }
  #navbar {
    z-index: 2;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #navbar__title {
    display: inline;
  }
  .show_mobile {
    display: inline;
  }
  .show_desktop {
    display: none;
  }
  .input_form {
    width: 60%;
  }
  #navbar {
    position: relative;
  }
  main {
    width: 100%;
    margin: 0;
    position: relative;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1500px){
  :root {
    --navbar-width: 90px;

    /* SVG */
    --image-login-background-width: 9687.5px;
    --image-login-move: -9375px;
    --image-login-width: 312.5px;

    --navbar__capteur-path: 100px;
    
    --shape-shifter-background-y: 75px;
    --shape-shifter-background-x: 1425px;

    --shape-shifter-background-animation: -1350px;

    --shape-shifter-width: 75px;
    --shape-shifter-height: 75px;
    /*
    --shape-shifter-background-y: 50px;
    --shape-shifter-background-x: 950px;

    --shape-shifter-background-animation: -900px;

    --shape-shifter-width: 50px;
    --shape-shifter-height: 50px;*/
  }
  #background_desktop {
    display: block;
  }
  #background_mobile {
    display: none;
  }
  #main {
    z-index: 1;
    height: 100%;
    margin-left: 10%;
    width: 90%;
  }
  .input_form {
    width: auto;
  }
  #container__body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .flex__form__login {
    flex-direction: row;
  }
  .navbar__content__child {
    display: flex;
    flex-direction: row;
  }
  #navbar__container {
    display: block;
  }
  #navbar__capteur {
    transform: translateX(0px);
    transition: all 0.2s linear;
  }
  #navbar__content {
    display: flex;
    position: absolute;
    transform: scale(0);
    transform-origin: left top;
    flex-direction: column;
    transition: all 0.2s ease;
    
  }
  #navbar {
    z-index: 3;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
  }
  .show_mobile {
    display: none;
  }
  .show_desktop {
    display: inline;
  }
}
@media only screen and (min-width: 1500px){
  :root {
    --navbar-width: 140px;
  }
  #background_desktop {
    display: block;
  }
  #background_mobile {
    display: none;
  }
  #main {
    z-index: 1;
    height: 100%;
    margin-left: 10%;
    width: 90%;
  }
  .shapeshifter {
    width: 100px;
    height: 100px;
  }
  .input_form {
    width: auto;
  }
  #container__body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .flex__form__login {
    flex-direction: row;
  }
  #navbar__capteur {
    transform: translateX(0px);
    transition: all 0.2s linear;
  }
  #navbar__content {
    display: flex;
    position: absolute;
    transform: scale(0);
    transform-origin: left top;
    flex-direction: column;
    transition: all 0.2s ease-out;
    
  }
  .navbar__content__child {
    display: flex;
    flex-direction: row;
  }
  #navbar__container {
    display: block;
    

  }
  #navbar {
    z-index: 3;
    height: 100%;
    width: auto;
    display: flex;
    position: absolute;
    flex-direction: column;
  }
  .show_mobile {
    display: none;
  }
  .show_desktop {
    display: inline;
  }
}

/* KEY-FRAMES */




/* SVG */

@keyframes animate {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: var(--shape-shifter-background-animation) 0px;
  }
}
@keyframes animate_reverse {
  0% {
    background-position: var(--shape-shifter-background-animation) 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}
.shapeshifter {
  animation-duration: 300ms;
  animation-timing-function: steps(18);
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  width: var(--shape-shifter-width);
  height: var(--shape-shifter-height);
  background-size: var(--shape-shifter-background-x) var(--shape-shifter-background-y);
}
.shapeshifter.play {
  animation-name: animate;
}
.shapeshifter.exit {
  animation-name: animate_reverse;
}


/* POSITION */

.image_in_button  {
  background: none;
  border: none;
  margin: var(--padding-x-small);
  margin-left: calc(var(--image-small) * -1.25);
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex__form__login {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.align_self_end {
  align-self: flex-end;
}
.align_self_start {
  align-self: flex-start;
}
.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center_block {
  margin: auto;
}
.center_inline {
  margin-left: auto;
  margin-right: auto;
}
.center_vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.text_center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.underline_hover:hover {
  text-decoration: underline;
}


/* PADDING MARGIN */

.padding_left {
  padding: var(--padding-left);
}
.padding_right {
  padding: var(--padding-right);
}
.padding_top {
  padding: var(--padding-top);
}
.padding_bottom {
  padding: var(--padding-bottom);
}
.padding_vertical {
  padding-top: var(--padding-big);
  padding-bottom: var(--padding-big);
}
.padding_horizontal {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);

}
.padding_x_small {
  padding: var(--padding-x-small);
}
.padding_small {
  padding: var(--padding-small);
}
.padding_medium {
  padding: var(--padding-medium);
}
.padding_big {
  padding: var(--padding-big);
}
.padding_large {
  padding: var(--padding-large);
}

.margin_x_small {
  margin: var(--margin-x-small);
}
.margin_small {
  margin: var(--margin-small);
}
.margin_medium {
  margin: var(--margin-medium);
}
.margin_big {
  margin: var(--margin-big);
}
.margin_large {
  margin: var(--margin-large);
}

.margin_horizontal {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}
.margin_left {
  margin: var(--margin-left);
}
.margin_right {
  margin: var(--margin-right);
}
.margin_top {
  margin: var(--margin-top);
}
.margin_bottom {
  margin: var(--margin-bottom);
}

/* TEXT */

.list_bullet {
  list-style: circle;
}
.list_number {
  list-style: decimal;
}
/* TEXT */
.text_navbar {
  white-space: nowrap;
}
.text_small {
  font-size: var(--text-small);
  font-family: Ubuntu-Regular;
}
.text_medium {
  font-size: var(--text-medium);
  font-family: Ubuntu-Regular;

}
.text_big {
  font-size: var(--text-big);
  font-family: Ubuntu-Regular;

}
.text_large {
  font-size: var(--text-large);
  font-family: Ubuntu-Regular;
}

/* IMAGE */
.image_navbar {
  width: var(--image-navbar);
}
.image_small {
  width: var(--image-small);
}
.image_medium {
  width: var(--image-medium);
}
.image_big {
  width: var(--image-big);
}
.image_large {
  width: var(--image-large);
}

/* COLOR */

.color_blue {
    color: var(--color-blue);
}
.color_dark_blue {
    color: var(--color-dark-blue);
}
.color_light_grey {
    color: var(--color-light-grey);
}
.color_grey {
    color: var(--color-grey);
}
.color_dark_grey {
    color: var(--color-dark-grey);
}
.color_black {
    color: var(--color-black);
}
.color_white {
    color: var(--color-white);
}
.color_error {
  color: red;
}

/* BACKGROUND-COLOR */

.background_color_blue {
  background-color: var(--color-blue);
}
.background_color_dark_blue {
  background-color: var(--color-dark-blue);
}
.background_color_light_grey {
  background-color: var(--color-light-grey);
}
.background_color_grey {
  background-color: var(--color-grey);
}
.background_color_dark_grey {
  background-color: var(--color-dark-grey);
}
.background_color_black {
  background-color: var(--color-black);
}
.background_color_white {
  background-color: var(--color-white);
}


/* BORDER */
.cursor {
  cursor: pointer;
}
.inside_border {
  box-shadow: 0px 0px 20px 2px var(--color-blue);

}
.radius {
  border-radius: var(--text-small);
}
.radius_small {
  border-radius: calc(var(--text-small)*0.5);
}
.border {
  border: solid 2px var(--color-dark-blue);
}
.border_dark_grey {
  border: solid 2px var(--color-dark-grey);
}
.border_light_grey {
  border: solid 2px var(--color-light-grey);
}
.border_top {
  border-top: solid 2px var(--color-dark-blue);
}
.border_bottom {
  border-bottom: solid 2px var(--color-dark-blue);
}
.border_left {
  border-left: solid 2px var(--color-dark-blue);
}
.border_right {
  border-right: solid 2px var(--color-dark-blue);
}


/* DOM */



#main {
  z-index: 1;
  height: 100%;
}
#header {
  height: 7.5%;
}
#content {
  height: 87.5%;
  overflow-y: scroll;
}
#footer {
  height: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.form__container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


