:root {

    /* TEXT-SIZES */
  
    --text-small: 16px;
    --text-medium: 24px;
    --text-big: 32px;
    --text-large: 48px;
  
    /* IMAGES-SIZES */
  
    --image-small: 2em;
    --image-medium: 4em;
    --image-big: 6em;
    --image-large: 8em;
  
    /* COLORS */
  
    --color-blue: #74b9ff;
    --color-dark-blue: #0984e3;
    --color-light-grey: #dfe6e9;
    --color-grey: #b2bec3;
    --color-dark-grey: #636e72;
    --color-black: #2d3436;
    --color-white: white;
  
    /* MARGIN */
  
    --margin-small: 1em;
    --margin-medium: 2em;
    --margin-big: 3em; 
    --margin-large: 4em;
    --margin-top: 2em 0 0 0;
    --margin-bottom: 0 0 2em 0;
    --margin-right: 0 2em 0 0;
    --margin-left: 0 0 0 2em;
    
    /* PADDING */
  
    --padding-small: 1em;
    --padding-medium: 2em;
    --padding-big: 3em; 
    --padding-large: 4em;
    --padding-top: 2em 0 0 0;
    --padding-bottom: 0 0 2em 0;
    --padding-right: 0 2em 0 0;
    --padding-left: 0 0 0 2em;
    
    /* MARGIN DOM */
  
    --margin-main: ;
    --margin-navbar: ;
    --margin-header: ;
  
}
body,html,p,button,input,a {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url('/public/fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('/public/fonts/Ubuntu-Bold.ttf');
}

/* PREMADE CLASS */

/* GRID */




/* MEDIA */

@media only screen and (max-width: 1000px) {
  #container__body {
    display: flex;
    flex-direction: column;
  }
  #navbar__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 0;
    transform: scaleY(0);
  }
  .navbar__content__child {
    flex-direction: column;
  }
  .navbar__content__child > .padding_right {
    padding-left: 2em;
  }
  #navbar {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #navbar__title {
    display: inline;
  }
}
@media only screen and (min-width: 1000px) {
  #container__body {
    display: flex;
    flex-direction: row;
  }
  #navbar__content {
    display: flex;
    flex-direction: column;
  }
  .navbar__content__child {
    flex-direction: row;
  }
  #navbar {
    height: 100%;
    width: 6em;
    display: flex;
    flex-direction: column;
  }
  
}

/* KEY-FRAMES */

@keyframes navbar__desktop__in {
  from {width: 6em;}
  to {width: 24em;}
}
@keyframes navbar__desktop__out {
  from {width: 24em;}
  to {width: 6em;}
}
@keyframes navbar__mobile__in {
  from {height: auto;transform: scaleY(0); transform-origin: top;}
  to {height: auto;transform: scaleY(1); transform-origin: top;}
}
@keyframes navbar__mobile__out {
  from {height: auto;transform: scaleY(1); transform-origin: top;}
  to {height: 0;transform: scaleY(0); transform-origin: top;}
}

/* POSITION */

.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.center_block {
  margin: auto;
}
.center_inline {
  margin-left: auto;
  margin-right: auto;
}
.text_center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.underline_hover:hover {
  text-decoration: underline;
}


/* PADDING MARGIN */

.padding_left {
  padding: var(--padding-left);
}
.padding_right {
  padding: var(--padding-right);
}
.padding_top {
  padding: var(--padding-top);
}
.padding_bottom {
  padding: var(--padding-bottom);
}


.padding_small {
  padding: var(--padding-small);
}
.padding_medium {
  padding: var(--padding-medium);
}
.padding_big {
  padding: var(--padding-big);
}
.padding_large {
  padding: var(--padding-large);
}


.margin_small {
  margin: var(--margin-small);
}
.margin_medium {
  margin: var(--margin-medium);
}
.margin_big {
  margin: var(--margin-big);
}
.margin_large {
  margin: var(--margin-large);
}


.margin_left {
  margin: var(--margin-left);
}
.margin_right {
  margin: var(--margin-right);
}
.margin_top {
  margin: var(--margin-top);
}
.margin_bottom {
  margin: var(--margin-bottom);
}


/* TEXT */

.text_small {
  font-size: var(--text-small);
  font-family: Ubuntu-Regular;
}
.text_medium {
  font-size: var(--text-medium);
  font-family: Ubuntu-Regular;

}
.text_big {
  font-size: var(--text-big);
  font-family: Ubuntu-Regular;

}
.text_large {
  font-size: var(--text-large);
  font-family: Ubuntu-Regular;

}

/* IMAGE */

.image_small {
  width: var(--image-small);
}
.image_medium {
  width: var(--image-medium);
}
.image_big {
  width: var(--image-big);
}
.image_large {
  width: var(--image-large);
}

/* COLOR */

.color_blue {
    color: var(--color-blue)
}
.color_dark_blue {
    color: var(--color-dark-blue)
}
.color_light_grey {
    color: var(--color-light-grey)
}
.color_grey {
    color: var(--color-grey)
}
.color_dark_grey {
    color: var(--color-dark-grey)
}
.color_black {
    color: var(--color-black)
}
.color_white {
    color: var(--color-white)
}

/* BORDER */

.border_top {
  border-top: solid 2px var(--color-dark-blue);
}
.border_bottom {
  border-bottom: solid 2px var(--color-dark-blue);
}
.border_left {
  border-left: solid 2px var(--color-dark-blue);
}
.border_right {
  border-right: solid 2px var(--color-dark-blue);
}


/* DOM */

#container__body {
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-color: var(--color-light-grey);
}

#navbar {
  background-color: var(--color-light-grey);
  animation-timing-function: linear;
}

#navbar__content {
  display: flex;
}
#navbar__capteur {
  margin-left: auto;
  margin-right: auto;
}
.navbar__content__child {
  display: flex;
}

#main {
  background-color: var(--color-blue);
  height: 100%;
  width: 100%;
}
#header {
  background-color: var(--color-dark-grey);
  height: 7%;

}
#content {
  background-color: var(--color-dark-blue);
  height: 89%;
}
#footer {
  background-color: var(--color-grey);
  height: 4%;

}


