input:focus {
    outline-offset: 0px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
a {
  color: black;
  text-decoration: none;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  display: none;
  background: none;
  border: none;
  padding: 0;
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../../../fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../../../../fonts/Ubuntu-Bold.ttf');
}
html {
  background: none;
}
body {
  margin: 0;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 10%;
  grid-template-rows: 10% 1fr 1fr 5%;
  grid-template-areas:
  "navbar middle_navbar middle_navbar profil"
  "navbar main main none"
  "navbar main main none"
  "footer footer footer footer";
}
.login-grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 1fr 33%;
  grid-template-rows: 20% 50% 20% 10%;
  grid-template-areas: ". . ." ". login-connexion ." ". . ." "login-footer login-footer login-footer";
}

@media only screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 10% 75% 5%;
    grid-template-areas: "navbar navbar navbar profil" "middle_navbar middle_navbar middle_navbar middle_navbar" "main main main main" "footer footer footer footer";
  }
  .login-grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-areas: ". . ." ". login-connexion ." ". . ." "login-footer login-footer login-footer";
  }
}



/* NAVBAR */


.navbar {
  grid-area: navbar;
}
#container_navbar {
  border-color: #636e72;
  display: flex;
  transform: scaleX(0);
  flex-direction: column;

}
#capteur_navbar {
  align-self: flex-start;
  display: block;
  padding: 0;
}
#container_navbar_all {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;

  height: auto;
}
#container_button {
}
#navbar_image {
  width: 6vh;
  height: 6vh;
  margin-left: 1vw;
  margin-top: 1vh;
}
#navbar_image:hover {
  cursor: pointer;
}
.navbar_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.container_navbar_content_text {
  padding: 1vw;
}

.navbar_content_text {
  text-align: center;
  display: inline;
  font-family: Ubuntu-Regular;
  font-size: 2vh;
}
.navbar_content_image {
  width: 6vh;
  height: 6vh;
  padding-right: 1vw;
}
.container_navbar_content_text::after {
  margin-top: 0.5vh;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.container_navbar_content_text:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
@keyframes scale_x {
  from {transform-origin: left;transform: scaleX(0);}
  to {transform-origin: left;transform: scaleX(1);}
}
@keyframes scale_x_reverse {
  from {transform-origin: left;transform: scaleX(1);}
  to {transform-origin: left;transform: scaleX(0);}
}
@keyframes navbar_ease_in {
  from {width: 0%;}
  to {width: 100%;}
}
@keyframes navbar_ease_out {
  from {width: 100%;}
  to {width: 0%;}
}



/* MIDDLE_NAVBAR */



.middle_navbar {
  grid-area: middle_navbar;
}
#container_navbar {
  width: auto;
  height: auto;
  display: none;
}

#middle_navbar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.middle_navbar_content {
  display: flex;
  flex-direction: column;
  padding: .5vh 1.25vh .5vh 1.25vh;
  margin: 1vw;

}
.middle_navbar_content::after {
  margin-top: 0.25vh;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.middle_navbar_content:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
.middle_navbar_content_text {
  padding: 0.5vw;
  font-family: Ubuntu-Regular;
  margin-left: 4vh;
  font-size: 1.75vh;
}
.middle_navbar_content_image {
  margin-bottom: -3.5vh;
  width: 3.5vh;
  height: 3.5vh;
}
.middle_navbar_content:hover .middle_navbar_content_text {
  animation: text_upscale 0.1s forwards;
}
.middle_navbar_content:not(hover) .middle_navbar_content_text {
  animation: text_downscale 0.1s forwards;
}



/* PROFIL */

.profil {
  grid-area: profil;
}
#container_profil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Ubuntu-Bold;
}
.profil_image {
  width: 5vh;
  height: 5vh;
  margin: 1vh;
}

/* FOOTER */

.footer {
  grid-area: footer;
}
#container_footer {
  font-family: Ubuntu-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* SHOW IFRAME */


.main {
  grid-area: main;
}
#container_main_content {
  display: block;
  height: 100%;
  width: 100%;

}
#container_iframe {
  border: none;
  display: none;
  height: 100%;
  width: 100%;
}


/* TEXT_EDITOR */


#text_editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
.tool-bar {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  width: auto;

}
.tool-list {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  width: auto;
  height: auto;
}
.tool {
  display: block;
}
.tool--btn {
  background-color: white;
  border: none;
	display: inline-block;
  height: 100%;
  width: 80%;
}
#container_navbar_font_size {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  display: none;
  flex-direction: column;
  position: absolute;
}
#container_navbar_font_size > .navbar_font_size{
  border-top: solid thin
}
.navbar_font_size {
  display: block;
}
.image_text_editor,#image_text_editor_2 {
  height: 90%;
  width: 80%;
}

.tool--btn:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,1);
}
#output{
  padding: 1vw;
  font-family: Arial;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  border: solid thin;
  height: 70vh;
	width: 95vw;
}
#output > a {
  text-decoration: underline;
  color: blue;
}
#output > ul {
  list-style-type: disc;
  list-style: circle;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

#output > ol {
  list-style-type: decimal;
  list-style: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.login_button_text_editor {
  background-color: #f1f2f6;
  font-family: Ubuntu-Regular;
  font-size: 2vw;
  padding: 0.5vw;
  margin: 1vw;
  border-radius: 5px;
  border: solid thin #70a1ff;
  box-shadow: 0px 0px 4px 0px #70a1ff;
}
@keyframes scale_y {
  from {transform-origin: top;transform: scaleY(0);}
  to {transform-origin: top;transform: scaleY(1);}
}
@keyframes scale_y_reverse {
  from {transform-origin: top;transform: scaleY(1);}
  to {transform-origin: top;transform: scaleY(0);}
}





/* LOGIN  */


.login-connexion {
  grid-area: login-connexion;
}

.login-footer {
  grid-area: login-footer;
}

.password_container {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
.login_info_password + .unmask {
  position: absolute;
}
.unmask {
  display: inline-block;
  background: none;
  border: none;
}
#image_eye {
  height: 5vh;
  width: 5vh;
}
#image_login {
  height: 8vh;
  width: 8vh;
  transition-timing-function: Linear;
}
.login_button {
  align-self: center;
  display: flex;
  width: 30vh;
  height: auto;
  padding: 0.5vh;
  border-style: solid;
  border-color: #8bb7f0;
  border-radius: 100px;
}
@keyframes login_translate {
  from {transform-origin: left;transform: translateX(0);}
  to {transform-origin: left;transform: translateX(20.5vh);}
}

.login_info_username {
  align-self: center;
  border: none;
  display: block;
  font-family: Ubuntu-Bold;
  border-bottom: solid thin;
  font-size: 2vh;
  width: 60%;
  height: 5vh;
}
.login_info_password {
  align-self: center;
  border: none;
  display: block;
  font-family: Ubuntu-Bold;
  border-bottom: solid thin;
  font-size: 2vh;
  width: 100%;
  height: 5vh;
}

.login_info_username:focus,.login_info_password:focus {
  border-color: #8bb7f0;
  box-shadow: inset 0px -80px 5px -80px #8bb7f0;
}
#login_info_container {
  display: flex;
  flex-direction: column;
}
#container_connexion {
  border: solid thin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.texte_login {
  color: black;
  font-family: Ubuntu-Regular;
  text-align: center;
  font-size: 3vh;
  margin-top: 1vw;
}
.texte_login_2 {
  color: black;
  text-align: center;
  font-family: Ubuntu-Regular;
}
.texte_login_2:hover {
  text-decoration: underline;
}
.login_button,.login_button_text_editor:hover {
  cursor: pointer;
  animation: login_info 0.5s forwards;
}
.login_info:hover {
  cursor: pointer;
}


/* webkit scroll-bar */



::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #ececec;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: none;
}
::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #57606f;
}
