/* correctif style sheet google */
input:focus {
    outline-offset: 0px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
/* correctif style sheet google */
@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../../../fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../../../../fonts/Ubuntu-Bold.ttf');
}
html {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ececec;

}
body {
  margin: 0;
}


/* ======================= ID ===================== */




#container_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#container_navbar {
  border-color: #57606f;
  background-color: #acdcfa;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  border-style: solid;
  border-width: medium;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-right-radius:13.5px;
}
#container_footer {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-top: 1vh;
  height: 3vh;
  width: 100vw;
}
#container_connexion {
  border-color: #57606f;
  background-color: #acdcfa;
  display: block;
  flex-direction: column;
  margin: auto;
  width: 335px;
  height: 466px;
  border-radius: 1vw;
  border-style: solid;
}
#login_info_container {
  height: 520px;
  display: flex;
  flex-direction: column;
}
#logo {
  height: 180px;
  text-align: center;
}
#profil {
  display: none;
}
#capteur_navbar {
  position: absolute;
  left: 0;
  top: 0;
}
#container_middle_navbar {
  border-bottom-left-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
}
#middle_navbar {
  display: flex;
  flex-direction: row;
}
#capteur_navbar {
  background: none;
  border: none;
  padding: 0;
}
#container_profil {
  border-color: #57606f;
  background-color: #acdcfa;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  font-family: Ubuntu-Bold;
  width: 85px;
  height: 80px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-bottom-left-radius:13.5px;
}


/* ======================= CLASS ===================== */


.footer{
  font-family: Ubuntu-Regular;
  font-size: 6.5px;
  display: inline-block;
  margin: auto;
  color: grey;
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: thin;
}
.center {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.login_info {
  font-family: Ubuntu-Bold;
  width: 260px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  border-style: solid;
  border-radius: 35px;
  padding: 6.5px;
}
.unmask {
  font-size:13.5px;
  background: none;
  border: none;
  margin-left: -42px;
}
.image_eye:hover {
  background-image: url("../../../../icons/eye2.png");
  background-position: center;
  background-size: contain;
}
.image_eye {
  height: 20px;
  width: 20px;
}
.image_logo {
  height: 180px;
  width: 180px;
}
.texte_login {
  color: black;
  font-family: Ubuntu-Regular;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6.5px;
}
.texte_login_2 {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu-Regular;
  font-size: 6.5px;
  font-weight: bold;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}
.login_button {
  background-color: #f1f2f6;
  border-color: #70a1ff;
  font-family: Ubuntu-Bold;
  font-size:13.5px;
  width: 105px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  border-style: solid;
  border-radius: 20px;
  padding: 6.5px;
}
.login_info {
  border-color: #70a1ff;
  font-size: 6.5px;
}
.login_google {
  margin-bottom:13.5px;
  align-self: center;
}
.navbar_content {
  display: flex;
  flex-direction: row;
  margin-left:13.5px;
  margin-right:13.5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.middle_navbar_content {
  display: flex;
  flex-direction: row;
  border-right-style: solid;
  border-color: #57606f;
  padding-left:13.5px;
  padding-right:13.5px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar_content_text {
  padding: 6.5px;
  width: 105px;
  font-family: Ubuntu-Regular;
  font-size:13.5px;
}
.container_navbar_content_text {
  border-color: #57606f;
  border-left-style: solid;
  display: flex;
  align-items: center;
  margin: auto;
}
.middle_navbar_content_text {
  padding: 6.5px;
  font-family: Ubuntu-Regular;
  font-size: 11.5px;
}
.image_navbar {
  border-color: #57606f;
  margin: 5px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border-style: solid;
}
.navbar_content_image {

  left: 0;
  width:55px;
  height:55px;
}
.image_404 {
  width: auto;
  height: auto;
}
.erreur_404 {
  display: block;
  text-align: center;
  padding: 5vw;
  font-family: Ubuntu-Bold;
  font-size: 30px;
}



/* ======================= HOVER ===================== */



#capteur_navbar:hover .image_navbar {
  animation: capteur_navbar 1s forwards;
}
#capteur_navbar:focus #container_navbar {
  display: flex;
}
#capteur_navbar:focus .navbar_content {
  animation: navbar_content 1s forwards;
}
.navbar_content:hover .navbar_content_text {
  animation: navbar_text_upscale 0.25s forwards;
}
.navbar_content:not(hover) .navbar_content_text {
  animation: navbar_text_downscale 0.25s forwards;
}
.middle_navbar_content:hover .middle_navbar_content_text {
  animation: text_upscale 0.1s forwards;
}
.middle_navbar_content:not(hover) .middle_navbar_content_text {
  animation: text_downscale 0.1s forwards;
}

.login_button:hover {
  animation: login_info 0.5s forwards;

}
.login_info:hover {
  animation: login 0.5s forwards;
}
.login_info:focus {
  animation: login_info 0.5s forwards;
}



/* ======================= KEYFRAMES ===================== */



@keyframes navbar_text_upscale {
  from {transform: scale(1,1);}
  to {transform: scale(1.1,1.1);}
}
@keyframes navbar_text_downscale {
  from {transform: scale(1.1,1.1);}
  to {transform: scale(1,1);}
}
@keyframes text_upscale {
  from {font-size: 11.5px;}
  to {font-size:13.5px;}
}
@keyframes text_downscale {
  from {font-size:13.5px;}
  to {font-size: 11.5px;}
}
@keyframes login {
  from {border-color: #70a1ff}
  to {border-color: #3742fa;}
}
@keyframes login_info {
  from {background-color: white;}
  to {background-color: #70a1ff;color: white;}
}
@keyframes capteur_navbar {
  from {  transform: rotate(0deg);
}
  to {
    transform: rotate(180deg);
    background-color: #acdcfa;
    background-size: contain;
  }
}
@keyframes navbar_content {
  from {
    opacity: 0;
    position: relative;
    left: -50px;
  }
  to {
    opacity: 1;
    position: relative;
    left: 0px;
  }
}
