html {
  background: linear-gradient(#dfe6e9, white);

}
#container_connexion {
  background-color: rgb(255, 255, 255);
  border-color: #57606f;
  background-color: #acdcfa;
}
.login_info {
  border-color: #70a1ff;
}
.texte_login {
  color: black;
}
.texte_login_2 {
  color: black;
}
.login_button {
  background-color: #f1f2f6;
  border-color: #70a1ff;
}
@keyframes login {
  from {border-color: #70a1ff}
  to {border-color: #3742fa;}
}
@keyframes login_info {
  from {background-color: white;}
  to {background-color: #70a1ff;color: white;}
}
.login_button:hover {
  animation: login 0.5s forwards;
}
.login_info:hover {
  animation: login 0.5s forwards;
}
.login_info:focus {
  animation: login_info 0.5s forwards;
}
