html {
  background: linear-gradient(#dfe6e9, white);
}
#container_connexion {
  border-color: #57606f;
  background-color: #acdcfa;
}
#container_middle_navbar {
  background-color: #acdcfa;
  border-color: #57606f;
}
#container_navbar {
  border-color: #57606f;
  background-color: #acdcfa;
}
#container_profil {
  border-color: #57606f;
  background-color: #acdcfa;
}

.navbar_content_text {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.25);
  border-color: #70a1ff;
}
.image_navbar {
  background-color: white;
  border-color: white;
  border-color: #57606f;

}

.middle_navbar_content_text {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.25);
  border-color: #70a1ff;

}
.navbar_content_text:hover {
  animation: background_bleu 0.25s forwards;
}
.middle_navbar_content_text:hover {
  animation: border_bleu 0.25s forwards;
}











.login_info {
  border-color: #70a1ff;
}
.texte_login {
  color: black;
}
.texte_login_2 {
  color: black;
}
.login_button {
  background-color: #f1f2f6;
  border-color: #70a1ff;
}

.login_button:hover {
  animation: login 0.5s forwards;
}
.login_info:hover {
  animation: login 0.5s forwards;
}
.login_info:focus {
  animation: login_info 0.5s forwards;
}
@keyframes background_bleu {
  from {background-color: white;}
  to {background-color: #70a1ff;color: white;}
}
@keyframes border_bleu {
  from {border-color: #70a1ff;}
  to {border-color: #3742fa;}
}
@keyframes login {
  from {border-color: #70a1ff}
  to {border-color: #3742fa;}
}
@keyframes login_info {
  from {background-color: white;}
  to {background-color: #70a1ff;color: white;}
}
