/* correctif style sheet google */
input:focus {
    outline-offset: 0px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
/* correctif style sheet google */


@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../../../fonts/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../../../../fonts/Ubuntu-Bold.ttf');
}
html {
  background: linear-gradient(#dfe6e9, white);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
}
input {
  animation:
}
footer {
  font-family: Ubuntu-Regular;
  font-size: 10px;
  position: absolute;
  align-self: flex-end;
  height: 2vh;
}
#container_body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 98vh;
}
#connexion_box {
  display: block;
  flex-direction: column;
  margin: auto;
  width: 505px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  border-color: #57606f;
  border-style: solid;
  background-color: #acdcfa;
}
#login_info_container {
  height: 520px;
  display: flex;
  flex-direction: column;
}
#logo {
  height: 180px;
  text-align: center;
}
.center {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.login_info {
  font-family: Ubuntu-Bold;
  width: 260px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 35px;
  padding: 15px;
  border-color: #70a1ff;
}

.unmask {
  font-size: 20px;
  background: none;
  border: none;
  margin-left: -52px;
}
.image_eye:hover {
  background-image: url("../../../../icons/eye2.png");
  background-position: center;
  background-size: contain;
}
.image_eye {
  height: 25px;
  width: 25px;
}

.image_logo {
  height: 180px;
  width: 180px;
}

.texte_login {
  font-family: Ubuntu-Regular;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: black;
  margin-bottom: 10px;
}
.texte_login_2 {
  font-family: Ubuntu-Regular;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
.login_button {
  font-family: Ubuntu-Bold;
  font-size: 20px;
  width: 160px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 30px;
  padding: 10px;
  border-color: #70a1ff;
  background-color: #f1f2f6;
}
.login_button:hover {
  animation: login 0.5s forwards;
}
.login_info:hover {
  animation: login 0.5s forwards;
}
@keyframes login {
  from {border-color: #70a1ff}
  to {border-color: #3742fa;}
}
@keyframes login_info {
  from {background-color: white;}
  to {background-color: #70a1ff;color: white;}
}
.login_info:focus {
  animation: login_info 0.5s forwards;
}
.login_info {
  font-size: 15px;
}
.login_google {
  margin-bottom: 20px;
  align-self: center;
}
