


/* ======================= ID ===================== */



#container_body {
  /*animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}












/* ======================= TEXT-EDITOR ===================== */








/* ======================= MIDDLE-NAVBAR ===================== */





.login_button,.login_button_text_editor:hover {
  cursor: pointer;
  animation: login_info 0.5s forwards;
}
.login_info:hover {
  cursor: pointer;
}



/* ======================= KEYFRAMES ===================== */











#logo {
  height: 20vh;
  text-align: center;
}
#profil {
  display: none;
}


.image_logo {
  height: 20vh;
  width: 20vh;
}

.login_google {
  margin: 1vw;
  align-self: center;
}


#image_404 {
  display: block;
  margin: auto;
  width: 50vh;
  height: 50vh;
  border: solid thin;
}
.erreur_404 {
  display: block;
  text-align: center;
  margin: 3vw;
  font-family: Ubuntu-Bold;
  font-size: 30px;
}
.submit_erreur_404 {
  display: block;
  text-align: center;
  margin: 3vw;
  font-family: Ubuntu-Bold;
  font-size: 30px;
}
.submit_erreur_404:hover {
  text-decoration: underline;
}
.button_404 {
  display: block;
  margin: 2vw auto 2vw auto;
}
.button_404:hover {
  color: red;
}
#container_error {
  display: none;
  flex-direction: column;
}
.desktop_mode {
  display: block;
  width: 100vw;
  height: 95vh;

}
.desktop_mode_text {
  background-color: white;
  display: block;
  text-align: center;
  font-family: Ubuntu-Regular;
  font-size: 3vh;
  height: 5vh;
}
