


/* ======================= ID ===================== */



#container_body {
  /*animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}







::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #ececec;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: none;
}
::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #57606f;
}




/* ======================= TEXT-EDITOR ===================== */









/* ======================= LOGIN ===================== */


.password_container {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
.login_info + .unmask {
  position: absolute;
}
.unmask {
  display: inline-block;
  background: none;
  border: none;
}
#image_eye {
  height: 5vh;
  width: 5vh;
  margin: 1vw;
  padding: 0.25vw;

}
#image_login {
  height: 3vw;
  width: 3vw;
  transition-timing-function: Linear;
}
.login_button {
  align-self: center;
  padding: none;
  display: flex;
  width: 20vw;
  padding: 0.25vw;
  margin: 1vw;
  border-style: solid;
  border-color: #8bb7f0;
  border-radius: 100px;
}
@keyframes login_translate {
  from {transform-origin: left;transform: translateX(0);}
  to {transform-origin: left;transform: translateX(16.25vw);}
}




.login_info {
  align-self: center;
  border: none;
  display: block;
  font-family: Ubuntu-Bold;
  margin: 1vw;
  padding: 0.25vw;
  border-bottom: solid thin;
  font-size: 2vh;
  width: 20vw;
  height: 5vh;
}



.login_info:focus {
  border-color: #8bb7f0;
  box-shadow: inset 0px -80px 5px -80px #8bb7f0;
}
#login_info_container {
  display: flex;
  flex-direction: column;
}
#container_connexion {
  border: solid thin;
  background-color: white;
  display: block;
  margin: auto;
}
#login_info_container {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}
.texte_login {
  color: black;
  font-family: Ubuntu-Regular;
  text-align: center;
  font-size: 3vh;
  margin: 1vh;
}
.texte_login_2 {
  color: black;
  text-align: center;
  font-family: Ubuntu-Regular;
  font-size: 2vh;
  margin: 1vh;
}
.texte_login_2:hover {
  text-decoration: underline;
}


/* ======================= MIDDLE-NAVBAR ===================== */





.login_button,.login_button_text_editor:hover {
  cursor: pointer;
  animation: login_info 0.5s forwards;
}
.login_info:hover {
  cursor: pointer;
}



/* ======================= KEYFRAMES ===================== */





@keyframes scale_y {
  from {transform-origin: top;transform: scaleY(0);}
  to {transform-origin: top;transform: scaleY(1);}
}
@keyframes scale_y_reverse {
  from {transform-origin: top;transform: scaleY(1);}
  to {transform-origin: top;transform: scaleY(0);}
}






#logo {
  height: 20vh;
  text-align: center;
}
#profil {
  display: none;
}


.image_logo {
  height: 20vh;
  width: 20vh;
}

.login_google {
  margin: 1vw;
  align-self: center;
}


#image_404 {
  display: block;
  margin: auto;
  width: 50vh;
  height: 50vh;
  border: solid thin;
}
.erreur_404 {
  display: block;
  text-align: center;
  margin: 3vw;
  font-family: Ubuntu-Bold;
  font-size: 30px;
}
.submit_erreur_404 {
  display: block;
  text-align: center;
  margin: 3vw;
  font-family: Ubuntu-Bold;
  font-size: 30px;
}
.submit_erreur_404:hover {
  text-decoration: underline;
}
.button_404 {
  display: block;
  margin: 2vw auto 2vw auto;
}
.button_404:hover {
  color: red;
}
#container_error {
  display: none;
  flex-direction: column;
}
.desktop_mode {
  display: block;
  width: 100vw;
  height: 95vh;

}
.desktop_mode_text {
  background-color: white;
  display: block;
  text-align: center;
  font-family: Ubuntu-Regular;
  font-size: 3vh;
  height: 5vh;
}
