<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" content="width=device-width" name="viewport">
    <title>Accueil</title>
    <link rel="stylesheet" href="../../config/stylesheet_desktop/theme_main.css">
    <script src="../../functions/showIframe_html.js"></script>
  </head>

  <header><!-- --></header>


  <body id=container_body>
    <div id=container_navbar_all>
    <div id=container_button><button id=capteur_navbar onclick=show_navbar()><img id=navbar_image src="../../../../icons/navbar.png"></button></div>
      <nav id=container_navbar>
        <ul>
          <li class=navbar_content><img class=navbar_content_image src="../../../../icons/dashboard.png"><div class=container_navbar_content_text><a class=navbar_content_text onclick="showIframe(4);" href="#">Tableau de bord</a></div></li>
          <li class=navbar_content><img class=navbar_content_image src="../../../../icons/database.png"><div class=container_navbar_content_text><a class=navbar_content_text onclick="showIframe(5);" href="#">Base de données</a></div></li>
          <li class=navbar_content><img class=navbar_content_image src="../../../../icons/userlist.png"><div class=container_navbar_content_text><a class=navbar_content_text onclick="showIframe(6);" href="#">Liste des utilisateurs</a></div></li>
          <li class=navbar_content><img class=navbar_content_image src="../../../../icons/settings.png"><div class=container_navbar_content_text><a class=navbar_content_text onclick="showIframe(7);" href="#">Paramètres</a></div></li>
          <li class=navbar_content><img class=navbar_content_image src="../../../../icons/logout.png"><div class=container_navbar_content_text><a class=navbar_content_text href="/site/desktop/functions/logout.php">Déconnexion</a></div></li>
        </ul>
      </nav>
    </div>
    <script>
    container_navbar = 0;
    function show_navbar()
    {
      console.log('dsdsd')
      if (container_navbar==0)
      {
        document.getElementById("navbar_image").src = "../../../../icons/text_editor/100px/cross.png";
        document.getElementById("container_navbar").style.animation = "scale_y 0.8s forwards";
        document.getElementById("capteur_navbar").style.animation = "navbar_ease_in 0.1s forwards";


        container_navbar=1;
      }
      else if (container_navbar!=0) {
        document.getElementById("navbar_image").src = "../../../../icons/navbar.png";
        document.getElementById("container_navbar").style.animation = "scale_y_reverse 0.1s forwards";
        document.getElementById("capteur_navbar").style.animation = "navbar_ease_out 0.8s forwards";



        container_navbar=0;
      }
    }
    </script>
    <nav id=container_middle_navbar>
      <ul id=middle_navbar>
        <li class=middle_navbar_content><a class=middle_navbar_content_text onclick="showIframe(0);" href="#">Pauses à corriger</a></li>
        <li class=middle_navbar_content><a class=middle_navbar_content_text onclick="showIframe(1);" href="#">Pauses publiques</a></li>
        <li class=middle_navbar_content><a class=middle_navbar_content_text onclick="showIframe(2);" href="#">Pauses non publiques</a></li>
        <li class=middle_navbar_content><a class=middle_navbar_content_text href="#" onclick="showIframe(3);">Publier un message</a></li>
      </ul>
    </nav>
    <div id=container_main_content>
      <iframe id=container_iframe></iframe>
    </div>

    <div id=container_profil><img class=profil_image src="../../../../icons/profil.png"><?php echo $_SESSION['username']; ?><a href="#">Mon profil</a></div>

    <div id=container_footer><div class=footer>zxzxzxzxzxzxz</div><?php require_once($root.'site/desktop/view/viewFooter.html'); ?></div>
  </body>

</html>
