<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <script src="../functions/unmask.js" type="text/javascript"></script>
    <link rel="stylesheet" media="screen and (max-width: 1280px)" href="../config/stylesheet_desktop/theme_main_720p.css">
    <link rel="stylesheet" media="screen and (min-width: 1280px)" href="../config/stylesheet_desktop/theme_main_900p.css">
    <link rel="stylesheet" media="screen and (min-width: 1600px)" href="../config/stylesheet_desktop/theme_main_1080p.css">
  </head>

  <body id="container_body">
    <div>
      <div class=erreur_404>ERREUR 404</div>
      <img class=image_404 src='../../../icons/404.gif'>
    </div>
    <div id=container_footer><?php   require_once('footer.html'); ?></div>
  </body>

</html>
