<!DOCTYPE html>
<html>
<head>
<title>Accueil</title>
<link rel="stylesheet" href="../config/stylesheet_desktop/theme_sombre.css">
<link rel="stylesheet" href="../config/stylesheet_desktop/theme_position.css">
</head>

<body id=body>
<!-- top of page -->
<nav id=navbar>

<div class='navbar_element capteur1'>
  <div class=test>theme</div>
  <div id=theme_container>
    <div class=theme_sombre>sombre</div>
    <div class=theme_wood>bois</div>
    <div class=theme_rainbow>arc-en-ciel</div>
  </div>
</div>

<div class='navbar_element capteur2'>
  <div class=test>test1</div>
</div>

<div class='navbar_element capteur3'>
  <div class=test>test2</div>
</div>

<div class='navbar_element capteur4'>
  <div class=test>test3</div>
</div>

<div class='navbar_element capteur5'>
  <div class=test>test4</div>
</div>

<!-- navigation bar -->
</nav>

<!-- central structure -->


<footer>
<!-- bottom / footer -->
</footer>

</body>

</html>
