<!DOCTYPE html>
<html>
<head>
<title>Accueil</title>
<link rel="stylesheet" href="../config/stylesheet_desktop/theme_sombre.css">
<link rel="stylesheet" href="../config/stylesheet_desktop/theme_position.css">
</head>

<body id=body>
<!-- top of page -->
<nav id=navbar>
<div class=test>test1</div>
<div class=test>test2</div>
<div class=test>test3</div>
<div class=test>test4</div>

<!-- navigation bar -->
</nav>

<!-- central structure -->


<footer>
<!-- bottom / footer -->
</footer>

</body>

</html>
