<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Erreur</title>
    <link rel="stylesheet" href="../config/stylesheet_desktop/theme_main.css">
    <link rel="stylesheet" href="/site/desktop/config/stylesheet_desktop/theme_main.css">


  </head>
  <body id="container_body">
    <div>
      <div class=erreur_404>La taille de votre écran est trop petite pour pouvoir afficher le site correctement.</div>
      <img id=image_404 src='../../../icons/404/meme_1.gif'>
      <button class=button_404 onclick=other_meme()> Ne clique pas ! </button>
      <a href='https://blog-template.teyssieux.fr/site/' class=submit_erreur_404>acceuil</a>
    </div>
    <div id=container_footer><?php require_once($root.'site/desktop/view/viewFooter.html'); ?></div>
  </body>
  <script>
  i = 2;
  function other_meme() {
    adress = "../../../icons/404/meme_"+i+".gif";
    document.getElementById("image_404").src = adress;
    i = i + 1;
    if (i==7)
    {
      i=1;
    }
  }
  </script>
</html>
